.modal-receipt {
  .container-body-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .primary-button {
      width: 9.375rem;
      position: relative;

      .icon-button {
        position: absolute;
        left: 0.438rem !important;

        svg {
          width: 1.313rem;
          height: 1.313rem;
        }
      }
    }
  }
}
