@import '../../mixin.scss';

.container-login {
  height: 100%;
  background: #fff;

  .row {
    height: 100% !important;

    .container-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-color: #fff;

      .logo {
        width: 12.5rem;
        height: 4.188rem;
        font-weight: 500 !important;
        font-size: 1.563rem !important;
        line-height: 2.375rem !important;
        letter-spacing: 0px !important;
        margin-bottom: 1.25rem;
        display: flex;
        justify-content: center;
        color: #000b13 !important;
      }

      form {
        width: 18.75rem;

        .input-container {
          position: relative;

          .icon-input {
            position: absolute;
            padding: 0.363rem 0.463rem !important;

            svg {
              width: 1.063rem;
              height: 1.063rem;
            }
          }
        }

        .form-control {
          padding-left: 2.25rem !important;
        }

        .forget-password {
          display: flex;
          justify-content: flex-end;
          margin-top: -0.313rem;
          margin-bottom: 1.25rem;

          .btn-empty {
            padding-left: 0px;
          }
        }

        .primary-button {
          width: 100%;
          position: relative;

          .icon-button {
            position: absolute;
            left: 0.438rem;

            svg {
              width: 1.313rem;
              height: 1.313rem;
            }
          }
        }
      }
    }
  }
}
