$red: #db324f;

$green: #59971f;

$green_dark: #3f7d20;

$yellow: #fdd660;

$gray: #ccd1e6;

$gray_light: #e4e7f3;

$gray_strokes: #f0f0f0;

$gray_background: #f9faff;

$white: #fff;

$black: #fff;

$primary: #59971f;
$primary-hover: #ff602f;

$purple-color: #7e77a8;
$info-color: #007cc2 !default;
$metal-color: #c4c5d6 !default;
$accent-color: #1de9b6 !default;
$focus-color: #1de9b6 !default;
// - bootstrap states
$primary-color: #29166f !default;
$success-color: #009933 !default;
// $info-color: #007cc2 !default; // cor do texto do item selecionado
$warning-color: #ffb822 !default;
$danger-color: #f4516c !default;
// - imply states
$suspended-color: #a4a5a8 !default;
$attention-color: #fb8c00 !default;
// - metronic states

// - rebrand color

$primary-red-color: #fd7670;
$fill-color: #fffdfd;
